appdirs==1.4.0
blinker==1.4
Flask==0.10.1
Flask-Mail==0.9.1
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
packaging==16.8
pyparsing==2.1.10
requests==2.8.0
six==1.10.0
SQLAlchemy==1.1.5
Werkzeug==0.10.4
WTForms==2.1
