<link rel="stylesheet" href="/static/style.css" type="text/css">

<html>
    <head>
        <title>Eat4Life - {{ title }}</title>
    </head>
    <body>
        <h1>Hello, welcome to Eat 4 Life!</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}

        <li role="presentation" class="active"><a href="account_home">Home</a></li>
        <li role="presentation" class="active"><a href="account_details">Account Details</a></li>
        <li role="presentation"><a href="logout">Log out</a></li>

    </body>

    <form action="signup" method="POST">
        {{ form.csrf_token }} 
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Sign Up</h1>
                </div>
                <div class="login-form">
                    {{ form.firstname.label }} {{ form.firstname(size=20) }}
                    {{ form.lastname.label }} {{ form.lastname(size=20) }}
                    {{ form.phone.label }} {{ form.phone(size=20) }}
                    
                    {{ form.old_password.label }} {{ form.old_password(size=20) }}
                    {{ form.new_password.label }} {{ form.new_password(size=20) }}
                    {{ form.confirm.label }} {{ form.confirm(size=20) }}
                    <input type="submit"
                        value="Update"
                        class="btn btn-primary btn-large btn-block" >
                    <br>
                </div>
            </div>
        </div>
    </form>
</html>
