<html>
    <head>
        <title>Eat4Life - {{ title }}</title>
    </head>
    <body>
        <h1>Hello, welcome to Eat 4 Life!</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
        
        <li role="presentation" class="active"><a href="account">Home</a></li>
        <li role="presentation" class="active"><a href="account/details">Account Details</a></li>
        <li role="presentation" class="active"><a href="account/host-a-dinner">Host a Dinner</a></li>
        <li role="presentation"><a href="logout">Log out</a></li>
    </body>
</html>
