<html>
    <head>
        <title>Eat4Life - {{ title }}</title>
    </head>
    <body>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}

        <h1>Hello, welcome to Eat 4 Life!</h1>
        
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="login">Log In</a></li>
        <li role="presentation"><a href="signup">Sign Up</a></li>
    </body>
</html>
