<html>
    <head>
        <title>Eat4Life - {{ title }}</title>
        <script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script> 
    </head>
    <body>
        <h1>Hello, world!</h1>
        <button type="button" id="btnLogin">Log into the Eat4Life website</button>
    </body>
</html>

<script type="text/javascript">
$(document).ready(function() {
    $("#btnLogin").click(function() {
        // Document page is ready
        // TODO: Handle redirect to login page
    
    });
});
</script>
