<link rel="stylesheet" href="/static/style.css" type="text/css">
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<html>
    <head>
        <title>Eat4Life - {{ title }}</title>
    </head>
    <body>
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="#">Log In</a></li>
        <li role="presentation"><a href="signup">Sign Up</a></li>
    </body> 

    <form action="login" method="POST">
        {{ form.csrf_token }} 
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Login</h1>
                </div>
                <div class="login-form">
                    {{ form.username.label }} {{ form.username(size=20) }}
                    {{ form.password.label }} {{ form.password(size=20) }}

                    <input type="submit" value="Log in"
                        class="btn btn-primary btn-large btn-block" >
                    <br>
                </div>
            </div>
        </div>
    </form>
</html>
{% endif %}
