<link rel="stylesheet" href="/static/styles.css" type="text/css">
<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>


{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Eat4Life - {{ title }}</title>
    </head>
    
    <body>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}

        <h1>Hello, welcome to Eat 4 Life!</h1>
        
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="login">Log In</a></li>
        <li role="presentation"><a href="signup">Sign Up</a></li>


        <form action="signup" method="POST">
        {{ form.csrf_token }}
            <div class="login-wrap">
                <div class="login-html">
                    <input id="tab-1" type="radio" name="tab" class="sign-in">
                        <label for="tab-1" class="tab"> <!-- Sign In --> </label>
                    <input id="tab-2" type="radio" name="tab" class="sign-up" checked>
                        <label for="tab-2" class="tab"> Sign Up </label>

                    <div class="login-form">
                        <!-- Sign UP -->                   
                        <div class="sign-up-htm">
                            <div class="group">
                                <label for="user" class="label"> Username </label>
                                <input id="user" class="input" >
                            </div>
                            <div class="group">
                                <label for="pass" class="label"> Password </label>
                                <input id="user" class="input" >
                            </div>
                            <div class="group">
                                <label for="pass" class="label"> Repeat Password </label>
                                <input id="pass" class="input" > 

                            </div>
                            <div class="group">
                                <label for="pass" class="label"> First name </label>
                                <input id="pass" class="input" >
                            </div>                
                            <div class="group">
                                <label for="pass" class="label"> Last name </label>
                                <input id="pass" class="input" >
                            </div>     
                            <div class="group">
                                <label for="pass" class="label"> Email address </label>
                                <input id="pass" class="input" >
                            </div>                                 
                            <div class="group">
                                <label for="pass" class="label"> Phone number </label>
                                <input id="pass" class="input" >
                            </div>                                                     
                            <div class="group">
                                <input type="submit" class="button" value="Sign Up">
                            </div>
              
                            
                            <div class="hr"></div>
                            <div class="foot-lnk">
                                <label for="tab-1"> Already a Member? </label>
                            </div>
                                                        
                        </div>
                    </form>




    <!--
    <form action="signup" method="POST">
        {{ form.csrf_token }} 
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Sign Up</h1>
                </div>
                <div class="login-form">
                    {{ form.firstname.label }} {{ form.firstname(size=20) }}
                    {{ form.lastname.label }} {{ form.lastname(size=20) }}
                    {{ form.email.label }} {{ form.email(size=20) }}
                    {{ form.phone.label }} {{ form.phone(size=20) }}

                    {{ form.username.label }} {{ form.username(size=20) }}
                    {{ form.password.label }} {{ form.password(size=20) }}
                    {{ form.confirm.label }} {{ form.confirm(size=20) }}
                    <input type="submit"
                        value="Sign Up"
                        class="btn btn-primary btn-large btn-block" >
                    <br>
                </div>
            </div>
        </div>
    </form> -->
    
    
    </body>
</html>
{% endif %}
